@import '../../index.scss';

.cart-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & div {
        margin: 0 auto;
        & button {
            display: block;
            margin: 1rem auto;
            min-width: 150px;
            padding: 1.5rem 3rem;
            background-color: $Corporate-1;
            font-family: $Font1;
            font-size: 1.5rem;
            border-radius: 3px;
            color: white;

        }
    }
}