/** Media Queries **/
@mixin phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


@mixin fade-in($waitTime) {
    animation:
        wait #{$waitTime},
        fade-in 3000ms #{$waitTime},
}

@keyframes wait {
    0% { opacity: 0; }
    100% { opacity: 0; }
}



@keyframes fade-in {
    0% {
       opacity: 0;
       transform: translateX(50vh);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

