//Media Query's width
$phone: 300px;
$tablet: 768px;
$desktop: 1024px;

//Colors Palette

// Color Principal
$Corporate-1: #22AEA3;

// Color Secundario
$Corporate-2: #4F4F50;

$Texto: #141414;
$black: #000;
$Background: #E9F1F1;
$white: #fff;

