@import '../index.scss';

.carousel-container {
        padding: 2.5rem 2.5rem;
       @include desktop {
               padding: 10rem 5rem;
       }
}

// NAV de librería compuesto por flechas para deslizar
.owl-nav {
        position: absolute;
        transform: translateY(-125%);
        width: 100%;
        margin: 0 !important;
                @include tablet {
                        transform: translateY(-100%);
                }
       & .owl-prev {
                font-size: 2rem !important;
                background-color: $Background !important;
                color: $Corporate-2 !important;
                margin: 0 !important;
                border-bottom-right-radius: 0 !important;
                transition: 0.5s;
                transform: scale(0.75);
                @include tablet {
                        transform: none;
                }
                & .pi {
                        padding: 2rem !important;
                        &:hover {
                                transform: scaleX(1.25);
                                transition: 0.5s;
                        }
                }
        }
        & .owl-next {
                font-size: 2rem !important;
                background-color: $Corporate-1 !important;
                color: $Background !important;
                padding: 1rem !important;
                margin: 0 !important;
                border-bottom-left-radius: 0 !important;
                transform: scale(0.75);
                @include tablet {
                        transform: none;
                }
                & .pi {
                        padding: 2rem !important;
                        transition: 0.5s;
                        &:hover {
                                transform: scaleX(1.25);
                                transition: 0.5s;
                        }
                }
        }
}
 // puntos para pasar diapositivas
.owl-dots {
        position: absolute;
        width: 300px;
        bottom: 12.5%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        @include tablet {
                bottom: 10%;
        }
        @include desktop {
                position: absolute !important;
                width: 95vw;
                bottom: 12%;
                transform-origin: center;
                padding-left: 22.5rem;
                transform: scale(1.5);
                z-index: 50;
        }
        &:hover {
                cursor: pointer;
        }
        & .owl-dot.active span {
                background: $Corporate-1 !important;
        }
        & .owl-dot span  {
                background: #9abebb !important;
        }
}

// Full Screen Image View and HIDE buttons and arrows
.image-modal {
        z-index: 99999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100vw;
        display: flex;
        margin: 0 auto;
        background: white;
        justify-content: center;
        align-items: center;
        cursor:zoom-out;
        &::after {
                font-family: "Material Icons";
                content: "close e5cd";
                position: absolute;
                top: 7%;
                color: #E9E9E9;
                background: $Corporate-1;
                border: 2px solid $Corporate-1;
                border-radius: 50%;
                cursor: pointer;
                height: 5rem;
                width: 5rem;
                font-size: 2.75rem;
                line-height: 5rem;
                text-align: center;
                z-index: 99999;

        }
        & img {
                width: 90vh !important;
                height: 60vh;
                object-fit: cover;
                box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);

        }
}