@import '../index.scss';

// NAV de librería compuesto por flechas para deslizar
.owl-nav {
        position: absolute;
        transform: translateY(-100%);
        width: 100%;
        margin: 0 !important;
       & .owl-prev {
                font-size: 2rem !important;
                background-color: $Background !important;
                color: $Corporate-2 !important;
                margin: 0 !important;
                border-bottom-right-radius: 0 !important;
                transition: 0.5s;
                & .pi {
                        padding: 2rem !important;
                        &:hover {
                                transform: scaleX(1.25);
                                transition: 0.5s;
                        }
                }
        }
        & .owl-next {
                font-size: 2rem !important;
                background-color: $Corporate-1 !important;
                color: $Background !important;
                padding: 1rem !important;
                margin: 0 !important;
                border-bottom-left-radius: 0 !important;
                & .pi {
                        padding: 2rem !important;
                        transition: 0.5s;
                        &:hover {
                                transform: scaleX(1.25);
                                transition: 0.5s;
                        }
                }
        }
}
 // puntos para pasar diapositivas
.owl-dots {
        position: absolute !important;
        right: 31.5% !important;
        bottom: 10% !important;
        transform: scale(1.5) !important;
        & .owl-dot.active span {
                background: $Corporate-1 !important;
        }
        & .owl-dot span  {
                background: #9abebb !important;
        }
}

// Full Screen Image View
.image-modal {
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        z-index: 99999;
        background: white;
        cursor:zoom-out;
        & img {
                object-fit: contain;
        }

}
.hide-for-imageFull {
        & .carousel-item-right, .owl-nav, .owl-dots {
                display: none;
        }
}